html{
    font-size:100%;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}



.header {
    width: 100%;
    padding: 15px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*会社ロゴ*/

.header-tt1 {
    font-size: 35px;
}
.header-tt1-link {
    text-decoration: none;
    color: #00277E;
}

/*メニュー*/

/*ul*/
.header-nav-list {
    display: flex;
    justify-content:flex-end;
}
.header-nav-item {
    font-weight: bold;
    text-decoration: none;
    color:#00277E;
    margin-right: 30px;
}
.header-nav-item-link {
    color: #00277E;
    text-decoration: none;
}

/*main*/
.eyecatch {
    position: relative;
    padding-top: 80px;
    padding-bottom: 0;
}

/*画像*/

.eyecatch-img-container {
    display: block;
    /*width: 100%;*/
    height: auto;
    transform: translate(50%);
}
img {
    width: 50%;
    z-index: 10;
}

.bg-blue{
    position: absolute;
    width:75%;
    height:150px;
    background-color:#00277E;
    margin-left: 0;
    top: 60%;
    z-index: -10;
}

.catch-copy {
    position: absolute;
    margin-left: 0;
    top: 50%;
    font-size: 50px;
}
